html{
    height: 100%;
    width: 100%;
}

body{
    min-height: 100%;
    position: relative;
    background-color: #f7f8f9;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 15px 0px 15px 0px;
}

pre {
    border: 0px solid transparent;
    margin : 0;
    padding : 5px;
    line-height: 1.55;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Life Savers', cursive;
    font-weight: normal;
    font-style: normal;
    color: #181a5a;
    padding-top: .4em;
    padding-bottom: .4em;
}

.table > tbody > tr > td {
    border-top: 0px solid transparent;
    border-bottom: 1px dotted #ccc;
}

/* my own css classes */

.footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer > .row > .text-center > h6 {
    font-family: 'Life Savers', cursive;
    font-weight: 700;
    padding: 0;
}

.main-container{
    padding: 10px;
    padding-bottom: 100px;
    font-size: 1.3em;
}

.post-entry {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 4px;
    padding-top: 8px;
}

.post-title {
    font-family: 'Life Savers', cursive;
    font-weight: 700;
}

.navbar-brand {
    font-family: 'Londrina Solid', cursive;
    /* font-family: 'Bubblegum Sans', cursive; */
    /* font-family: 'IntuitiveRegular'; */
}

.brand-symbol {
    font-size: 120%;
    font-weight: bold;
}

.command-line {

}

.main{
    padding: 10px;
}

.about-main {
    padding: 10px;
}

.wally {
    float: left;
    padding: 15px 5px 15px 0px;
    margin-right: 20px;
}

.grvtext {
    padding-top: 25px;
}

.navbar {
    box-shadow: none;
}


a {
    /* color: #b31447; */
    -webkit-transition: color ease 1s;
    -moz-transition: color ease 1s;
    -o-transition: color ease 1s;
    transition: color ease 1s;
    /* color: #dbb3a0; */
}

a:hover {
    text-decoration: none;
}

td a {
    text-decoration: none;
}

.nav > li {
    padding: 0.2em;
}

@media screen and (max-width: 600px) {
    .nav > li {
        padding: 0;
    }

    .navbar {
        margin: 0;
    }

    .page-header {
        margin: 10px;
    }
}

.nav {
    font-family: 'Londrina Solid', cursive;
    /* font-family: 'Bubblegum Sans', cursive; */
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
}

.nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a {
    padding: 10px 15px 10px 15px;
    position: relative;
}

.nav > .inactive > a {
    transition: ease 1s;
}

.nav > .active > a {
    border-bottom: 1px dotted #aaa;
}

a:hover {
    /* color: lightskyblue; */
    /* text-decoration: none; */
}

.lead {
    font-size: 120%;
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}

.mytitle {
    text-align: center;
}

.mylink {
    font-size: 2.0em;
    margin: 5px 20px 5px 20px;
}

.myfind {
    padding-top: 20px;
}

.main-title{
    padding-bottom: 2em;
}

.cv {
    background-color: #ebedf3;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
}

.stack-label-parent {
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.stack-label-circle {
    background-color: #1966a3;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 20px 15px 10px 15px;
}

.stack-label {
    padding-top: 0.2em;
    text-align: center;
    font-size: 1.4em;
    color: #fff
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    .wally {
        padding: 5px 55px 15px 55px;
    }
}
