html{
	height:100%;
}

body{
	height:100%;
	background-image: url("images/triangles.png");
	background-repeat:repeat;
	background-attachment: fixed;
}

.main{
	/*background-color: #040404;*/
	min-height:100%;
	background-color: #f5f5fc;
	border-radius: 10px;
	padding-bottom: 40px;
	padding-top: 30px;
	margin-bottom: 60px;
}

.white{
	color: snow; 
}

.blue{
    background: #060811;
}

.transparent{
    background: transparent;
}

.footer{
	height:40px;
	margin-top:-30px;
	padding-top:10px;
}

.navbar-default{
    margin-top:5px;
    margin-bottom:5px;
}

.navbar-nav > li > a{
    color:snow !important;
}

.navbar-nav > li > a{
    border-radius:10px !important;
}

.navbar-nav > li > a:hover{
    color:#1d84f9 !important;
}

.navbar-nav > .active > a{
    background: #060811 !important;
    opacity: 0.75;
}

.navbar-nav > .active > a:hover{
    color:#1d84f9 !important;
}

.well > a{
    color:orange !important;
}

.content > a{
    color:orange !important;
}

.navbar-brand > a{
    color:snow;
}

a:hover{
    color:#1d84f9 !important;
}
