{% extends "navbar.html" %}
{% block title %}Home{% endblock %}

{% block content %}
		<div class="container main">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10">
                    <div class="jumbotron text-center">
                        <h2>Some facts about myself</h2>
                    </div>
                </div>
                <div class="col-lg-1">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6 content">
                    My favourite programming languages are Python and C++. <br>
                    My favourite editor is <a href="http://www.vim.org/Vim">Vim</a>.<br>
                    My favourite food is Spaghetti.<br>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
		</div><!-- /.container -->
		{{super()}}
{% endblock %}
