{% extends "base.html" %}
{% block title %}~grv{% endblock %}

{% block content %}
    <header class="header">
      <section class="container">
        <div class="row">
          <div class="column">
            <div class="page-header text-center">
              <h4><p class="title">
                I am a <b>Machine Learning Researcher</b> and final year PhD student at the <a href="http://web.inf.ed.ac.uk/ilcc" target="_blank">ILCC</a> in Edinburgh, supervised by <a href="https://alopez.github.io/" target="_blank">Adam Lopez</a> and <a href="http://nolovedeeplearning.com/" target="_blank">Antonio</a> <a href="https://april-tools.github.io/" target="_blank">Vergari</a>.
                My research focusses on <b>making AI more reliable, interpretable and efficient</b> by understanding and exploiting geometric constraints that arise in neural network models.</h4>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="container">
      <div class="row about-main">
        <div class="column">
          <div class="row">
            <div class="column column-sm-33 column-xs-75">
              <img class="wally"  src="{{url_for('.static', filename="images/me2021.jpg")}}"></img>
            </div>
            <div class="column">
              <p>
              More specifically, I study the output layer of deep neural networks that have a large number of outputs, e.g. Large Language Models (LLMs).
              Any such output layer that has more outputs than inputs unavoidably has outputs that are <b>impossible to predict</b>.
              I call such outputs <a href="https://unargmaxable.ai" target="blank_"><b>unargmaxable</b></a>.
              My research identifies unargmaxable outputs in <a href="https://arxiv.org/abs/2203.06462" target="_blank">L<b>LMs</b></a> and <a href="https://arxiv.org/abs/2310.10443" target="_blank">Clinical NLP models</a> and proposes replacement layers which guarantee that outputs of interest can be predicted.</p>
              {# <p>I am interested in the following questions: #}
              {#   <li>Can we provide formal guarantees about which outputs our models can predict?</li> #}
              {#   <li> Can we engineer existing geometric constraints to encode inductive biases of interest?</li> #}
              {# </p> #}
              {# <p> #}
              {# I find <a href="{{ url_for('static', filename='files/permutohedron-tiling/index.html') }}" target="_blank">structure beautiful</a> and enjoy searching for it to <a href="{{ url_for('static', filename='files/alternating/index.html') }}" target="_blank">better understand problems</a>. Geometric structure can be so intuitive and illuminating when you can see the pattern, and so obscure and baffling before it clicks. #}
              More generally, I have a soft spot for language and structure and I enjoy creating interactive visualisations of geometric representations I am learning about; here are <a href="/viz">some examples</a>.</p>
              {# <p> #}
              Alongside my PhD, I have also been a part-time Research Assistant on Information Extraction from news articles and clinical text under the supervision of <a href="http://homepages.inf.ed.ac.uk/balex/" target="_blank">Beatrice Alex</a>.
              {# Here is a <a href="http://jekyll.inf.ed.ac.uk/edieviz" target="_blank">demo</a> of our Named Entity Recognition and Negation Detection models for identifying findings (eg. stroke and tumours) from radiology reports. #}
              {# </p> #}
            </div>
          </div>
          <div class="row">
            <div class="column well">
              <h3>Selected publications</h3>
            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/unargmaxable-2.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="https://arxiv.org/abs/2310.10443" target="_blank">Taming the Sigmoid Bottleneck: Provably Argmaxable Sparse Multi-Label Classification.</a>
                <span class="highlight">Andreas Grivas</span>,
              Antonio Vergari and Adam Lopez. Accepted at AAAI 2024.</h5>
              See also: <a class="brand" href="https://github.com/andreasgrv/sigmoid-bottleneck" target="_blank"> <i class="fa fa-github"></i> </a>, <a href="{{ url_for('static', filename='posters/sigmoid-bottleneck.pdf') }}" target="_blank">Poster</a>, <a href="{{ url_for('static', filename='files/alternating/index.html') }}" target="_blank">Interactive visualisation (i)</a>, <a href="{{ url_for('static', filename='files/duality/index.html') }}" target="_blank">Interactive visualisation (ii)</a>

            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/unargmaxable-1.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="https://arxiv.org/abs/2203.06462" target="_blank">Low-Rank Softmax Can Have Unargmaxable Classes in Theory but Rarely in Practice.</a>
                <span class="highlight">Andreas Grivas</span>,
              Nikolay Bogoychev and Adam Lopez. ACL 2022 (Oral Presentation)</h5>
              See also: <a class="brand" href="https://github.com/andreasgrv/unargmaxable" target="_blank"> <i class="fa fa-github"></i> </a>, <a href="{{ url_for('static', filename='posters/softmax-bottleneck.pdf') }}" target="_blank">Poster</a>, <a href="https://unargmaxable.ai" target="_blank">Interactive visualisation</a> 
            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/acute.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="https://aclanthology.org/2020.louhi-1.4/" target="_blank">Not a cute stroke: Analysis of Rule-and Neural Network-based Information Extraction Systems for Brain Radiology Reports.</a> <span class="highlight">Andreas Grivas</span>, Beatrice Alex, Claire Grover, Richard Tobin and William Whiteley. LOUHI 2020</h5>
              See also: <a class="brand" href="https://github.com/edinburgh-ltg/edieviz" target="_blank"> <i class="fa fa-github"></i> </a>
            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/dep2.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="https://aclanthology.org/D18-1278/" target="_blank">What do Character-level Models Learn About Morphology? The Case of Dependency Parsing.</a> Clara Vania, <span class="highlight">Andreas Grivas</span>, and Adam Lopez. EMNLP 2018</h5>
            </div>
          </div>
          <div class="row row-center paper">
            <div class="column well">
              <h3>Dissertations</h3>
            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/dep.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="https://project-archive.inf.ed.ac.uk/msc/20172495/msc_proj.pdf" target="_blank">MSc dissertation</a>,
                <a href="https://www.ed.ac.uk/informatics" target="_blank">University of Edinburgh</a> (2017)</h5>
            </div>
          </div>
          <div class="row row-responsive row-center paper">
            <div class="column column-sm-33 column-xs-75">
              <img class="img"  src="{{url_for('.static', filename="images/synonym.png")}}"></img>
            </div>
            <div class="column column-sm-66">
              <h5><a href="http://estia.hua.gr/file/lib/default/data/16649/theFile" target="_blank">BSc dissertation (Greek)</a>, <a href="https://msc.dit.hua.gr/en/home-2/" target="_blank">Harokopio University</a>, (2014)</h5>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <!-- You can download my B.Sc. Thesis in Greek <a href="/sentencealignment.pdf">here</a>.<br> -->
              {# <p>You can download my CV <a href="/andreas-grivas.pdf">here</a>.</p> #}
              <ul>
                <li>My vimrc and other dotfiles can be found <a href="https://github.com/andreasgrv/dotfiles" target="_blank">here</a>.</li>
                <li>My public key is <span class="codehilite">24A721BB42D9A790</span></li>
              </ul>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
