{% extends "base.html" %}
{% block title %}about grv{% endblock %}

{% block content %}
    <div class="main">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="page-header text-center">
            <h3>Some facts about myself</h3>
          </div>
        </div>
      </div>
      <div class="row about-main">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="row">
            <div class="col-sm-12">
              <p class="lead">My name is Andreas, and I am currently a Masters student digging deeper into
             Machine Learning and Natural Language Processing at the <a href="http://www.ed.ac.uk/informatics"
                                                                      target="_blank">University of Edinburgh</a>.
             I previously worked as a research associate at
             <a href="http://persona.iit.demokritos.gr" target="_blank"> NCSR Demokritos</a>,
             as a member of <a href="http://persona.iit.demokritos.gr/" target="_blank">Persona</a>. <br>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <img class="img-responsive wally"  src="{{url_for('.static', filename="images/me.png")}}"></img>
              <p>My interests are generally scattered, but during my Masters I have focussed on
              Natural Language Processing and applied Machine Learning. </p>
              <p>More specifically, I have learned a lot about the dark art of training neural networks and have become familiar
             with the language modelling and dependency parsing literature.</p>
              <p>For my M.Sc. dissertation I implemented neural network models for syntactic analysis (Dependency Parsing) of morphologically rich languages.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p class="lead"><h4>History stack trace<h4></p>
            </div>
            <div class="col-sm-2">
              <div class="stack-label-parent">
                <div class="stack-label-circle">
                  <p class="stack-label">
                    0
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <p> In the year following my graduation I worked on
                Author Profiling, Named Entity Recognition and Relation Extraction. Our team at NCSR Demokritos
                placed third in Pan 2015 on the
                <a href="http://pan.webis.de/clef15/pan15-web/author-profiling.html" target="_blank">
                  Author Profiling task</a>.
            </div>
            <div class="col-sm-2">
              <div class="stack-label-parent">
                <div class="stack-label-circle">
                  <p class="stack-label"> 1 </p>
                </div>
              </div>
            </div>
            <div class="col-sm-10">
              <p>I graduated from <a href="https://www.dit.hua.gr/index.php/en/" target="_blank">
                Harokopeio University of Athens</a> in 2014.
                In my B.Sc. dissertation I was interested in recognising textual entailment and contradiction
                for comparing news items.
                To this end, I worked on a measure of word similarity influenced by the
                <a href="https://www.youtube.com/watch?v=j5ty2s1TZvE&list=PL068ES-0ca9CSIp5OPGI5RXB3k5XgYRxF"
                   target="_blank">MIT lectures</a> of <a href="https://en.wikipedia.org/wiki/G%C3%B6del,_Escher,_Bach"
                  target="_blank">Gödel, Escher, Bach</a>. 
                (I was not familiar with word2vec and other related approaches in the literature).
                The word similarity measure was used to compute alignments for the RTE challenge
                and was compared to other word similarity measures on the 
                <a href="http://www.cs.technion.ac.il/~gabr/resources/data/wordsim353/wordsim353.html"
                   target="_blank">wordsim353 dataset</a>.</p>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="well cv">
                You can download my CV <a href="/andreas-grivas.pdf">here</a>.<br>
                <!-- You can download my B.Sc. Thesis in Greek <a href="/sentencealignment.pdf">here</a>.<br> -->
                Find me on <a href="https://github.com/andreasgrv" target="_blank">github</a> <i class="fa fa-github"></i>.
              </div>
              My favourite programming language is Python. <br>
              My favourite editor is 
              <a href="http://www.vim.org" target="_blank">
                <img style="margin-top:-15px" src="{{url_for('.static', filename="images/vim_on_fire.gif")}}" alt="Vim">
                </img>
              </a>, you can find my vimrc and other dotfiles
              <a href="https://github.com/andreasgrv/dotfiles" target="_blank">here</a>.<br>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.main -->
{% endblock %}
