<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700|Life+Savers">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/normalize.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/milligram.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/milligram-responsive.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/style.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/code.css") }}">
  </head>
  <body>
    <main class="wrapper">
      {% block navbar %}
        <nav class="navigation">
          <section class="container">
            <div class="navigation-title">
              <a class="brand" href="/">Andreas Grivas</a>
              <span class="brand-links">
                <a class="brand" href="https://scholar.google.com/citations?hl=en&user=3i0gLK8AAAAJ" target="_blank">
                  <i class="fa fa-mortar-board"></i>
                </a>
                <a class="brand" href="https://twitter.com/andreasgrv" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="brand" href="https://www.linkedin.com/in/andreas-grivas" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="brand" href="https://github.com/andreasgrv" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
                <a class="brand" href="https://stackoverflow.com/users/4363401/andreas-grivas" target="_blank">
                  <i class="fa fa-stack-overflow"></i>
                </a>
              </span>
            </div>
            <ul class="navigation-list float-right">
              <li class="navigation-item {%if request.path == '/about' or request.path == '/' %}active{% endif %}">
                <a class="navigation-link" href="/about">Research</a>
              </li>
              <li class="navigation-item {%if request.path == '/viz' %}active{% endif %}">
                <a class="navigation-link" href="/viz">Interact</a>
              </li>
              <li class="navigation-item {%if request.path == '/log' or '/posts' in request.path %}active{% endif %}">
                <a class="navigation-link" href="/log">Log</a>
              </li>
              <li class="navigation-item {%if request.path == '/read' %}active{% endif %}">
                <a class="navigation-link" href="/read">Read</a>
              </li>
              {# <li class="navigation-item {%if request.path == '/listen' %}active{% endif %}"> #}
              {#   <a href="/listen"> #}
              {#     Listen #}
              {#   </a> #}
              {# </li> #}
            </ul>
          </section>
        </nav>
      {% endblock navbar %}
      {% block content %}{% endblock content %}
    </main>
    {% block footer %}
    <footer class="footer">
      <section class="container">
        <nav class="nav">
          <h6 class="footer-text text-center">
          Written in <a href="https://www.vim.org" target="_blank">Vim</a>
            by Andreas Grivas using <a href="https://flask.pocoo.org/" target="_blank">Flask</a>
          </h6>
          <h6 class="footer-text text-center">
            Last updated on {{config.LAST_EDITED}}
          </h6>
        </nav>
      </section>
    </footer>
  {% endblock footer %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                        tex2jax: {
                              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                                    processEscapes: true},
                        TeX: { extensions: ["boldsymbol.js", "color.js"],
                               Augment: {
                                 Definitions: {macros: {
                                   bm: 'myBoldSwitch'
                                 }},
                                 Parse: {prototype: {
                                   myBoldSwitch: function (name) {
                                     this.stack.env.boldsymbol = true;
                                   }
                                 }}
                               }
                              }
                       });
    MathJax.Hub.Register.StartupHook("TeX color Ready", function() {
         MathJax.Extension["TeX/color"].colors["red"] = '#2B2B2B';
    });
  </script>
  </body>
</html>
