<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600|Life+Savers">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/normalize.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/milligram.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/style.css") }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename="css/code.css") }}">
    {# <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300|Londrina+Solid|Life+Savers" rel="stylesheet"> #}
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> #}
  </head>
  <body>
    <main class="wrapper">
      {% block navbar %}
        <nav class="navigation">
          <section class="container">
            <a class="navigation-title brand" href="/">andreasgrv@website</a>
            <ul class="navigation-list float-right">
              <li class="navigation-item {%if request.path == '/' or '/posts' in request.path %}active{% endif %}">
                <a class="navigation-link" href="/">Log</a>
              </li>
              <li class="navigation-item {%if request.path == '/about' %}active{% endif %}">
                <a class="navigation-link" href="/about">About</a>
              </li>
              <li class="navigation-item {%if request.path == '/read' %}active{% endif %}">
                <a class="navigation-link" href="/read">Read</a>
              </li>
              {# <li class="navigation-item {%if request.path == '/listen' %}active{% endif %}"> #}
              {#   <a href="/listen"> #}
              {#     Listen #}
              {#   </a> #}
              {# </li> #}
            </ul>
          </section>
        </nav>
      {% endblock navbar %}
      {% block content %}{% endblock content %}
    </main>
    {% block footer %}
    <footer class="footer">
      <section class="container">
        <nav class="nav">
          <h6 class="footer-text text-center">
          Written in 
              <a href="http://www.vim.org" target="_blank">
                <img src="{{url_for('.static', filename="images/vim.png")}}" width="25px" alt="Vim"></img>
              </a>
            by Andreas Grivas using <a href="http://flask.pocoo.org/" target="_blank">Flask</a>
          </h6>
          <h6 class="footer-text text-center">
            Last updated on {{config.LAST_EDITED}}
          </h6>
        </nav>
      </section>
    </footer>
  {% endblock footer %}
  </body>
</html>
