{% extends "base.html" %}
{% block title %}~grv{% endblock %}

{% block content %}
    <div class="main">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="main-title">
            <span class="mytitle"><h3>Welcome to a served copy of my webpage!<br> Here is what's been on my mind recently..</h3></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <table class="table">
              <tbody>
                {% for index, post in enumerate(posts) %}
                <tr>
                  <td>
                    <a class="post-title" href="{{ url_for('post', name=post.path) }}">
                      {{ post.title }}
                    </a>
                  </td>
                  <td>
                    <small>{{ post.date }}</small>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
          </div>
      </div>
    </div><!-- /.main -->
{% endblock %}
