{% extends "base.html" %}
{% block title %}~grv{% endblock %}

{% block content %}
  <header class="header">
    <section class="container">
      <div class="column">
        <div class="page-header">
          <span class="mytitle"><h3>Some texts from my language model</h3></span>
        </div>
      </div>
    </section>
  </header>
  <section class="container">
    <div class="row">
      <div class="column">
        {% for index, post in enumerate(posts) %}
        <div class="row post-entry">
          <div class="column column-66">
            <a class="post-title" href="{{ url_for('post', name=post.path) }}">
              {{ post.title }}
            </a>
          </div>
          <div class="column">
              <span class="post-date">{{ post.date }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  <section>
{% endblock %}
