{% extends "base.html" %}
{% block title %}listen{% endblock %}

{% block content %}
    <div class="main">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <div class="row page-header text-center">
            <h4 class="typed">Some of my looney tunes</h4>
          </div>
          <div class="row">
            {% block playlist %} {% endblock %}
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </div><!-- /.main -->
    {{super()}}
{% endblock %}
