{% extends "layout.html" %}

{% block navbar %}
    <div class="navbar-default transparent container">
        <a class="navbar-brand" href="/grv">Andreas Grivas</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{%if request.path == '/' %} class="active"{% endif %}><a href="/grv">Home</a></li>
                <li{%if request.path == '/about' %} class="active" {% endif %}><a href="/grv/about">About</a></li>
                <li{%if request.path == '/read' %} class="active" {% endif %}><a href="/grv/read">Read</a></li>
                <li{%if request.path == '/listen' %} class="active" {% endif %}><a href="/grv/listen">Listen</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
{% endblock %}
