{% extends "base.html" %}
{% block content %}
    <div class="main">
      <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-10">
              <div class="typed-box">
                <span><h4 class="typed">{{ post.title }}</h4></span>
                <span><h4 class="typed2">{{ post.date }}</h4></span><br>
              </div>
          </div>
          <div class="col-lg-1">
          </div>
      </div>
      <div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					{{ post.html|safe }}
				</div>
				<div class="col-lg-1">
				</div>
      </div>
    </div><!-- /.container -->
    {{super()}}
{% endblock %}
