{% extends "base.html" %}
{% block content %}
    <div class="main">
      <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8 text-center">
              <span><h3>{{ post.title }}</h3></span>
              <span><h4>{{ post.date }}</h4></span><br>
          </div>
          <div class="col-lg-2">
          </div>
      </div>
      <div class="row">
				<div class="col-lg-2">
				</div>
				<div class="col-lg-8">
					{{ post.html|safe }}
				</div>
				<div class="col-lg-2">
				</div>
      </div>
    </div><!-- /.container -->
    {{super()}}
{% endblock %}
