{% extends "base.html" %}
{% block title %}Read{% endblock %}

{% block alerts %}
    <div class="alert alert-dismissable alert-warning">
      <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></button>
      <strong>Disclaimer:</strong> This page may contain nerdy and incomprehensible content.
    </div>
{% endblock %}

{% block content %}
    <div class="main">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <div class="page-header text-center">
            <h4 class="typed">This is a sample of my nonsense</h4>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <div class="bs-component grvtext">
              <h4>Benedictus</h4><br>
              I once found a little owl playing amongst the thicket<br>
              he curiously waved a little stick and then began to lick it<br>
              of all your toes I do oppose you having only three<br>
              To this request, the owl got dressed and flew up to the tree<br>
              the thicket then in mighty woe began to stir and fidget<br>
              for it had lost its only friend Benedictus the midget<br>
              But hold on now, you don't suppose the owl was Benedictus<br>
              it had toes three, flew up a tree if we held sticks it licked us<br>
              His seemly rather eccentric ways evolved when he was younger<br>
              hadn't he been the pope you see, he would have died of hunger<br>
              Two were the source of his belief, three toes he now had sprouted<br>
              and that's the reason, little bee, that he had always shouted<br>
              I'm not a bee, I hold no stick, I claim to be the reader<br>
              Your claim then is by far unjust, for books aren't merely made of dust<br>
              They're made of withered sticks and sap, I bid farewell to you old chap<br>
              And if by chance you were a bee, you are a true believer<br>
            </div>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <div class="bs-component grvtext">
              <h4>The ostentatious cucumber</h4><br>
              "<i>All vegetables are immortal</i>". <br>
              The cucumber resolved his precarious remark with a flamboyant dance of virility. <br>
              He wavered his rod, and hammered a cod, who dazed had to walk back to Ility. <br>
              He then fell in distress, for the cod was a mess, and could probably sue him for money. <br>
              So he married a bee, bought a house by the sea, and promised to pay him in honey. <br>
              He was fond of the cause, had provoked an applause, and was boasting his way of acquital. <br>
              But when chopped by the knife, in the sandwich he went, turns out life is unnervingly brittle. <br>
            </div>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8">
            <div class="bs-component grvtext">
              <h4>Intercheesy</h4><br>
              My sweet, my cunning little fawn<br>
              how know you I had cometh?<br>
              I hid behind a patch of lawn<br>
              I'll hide again, I prometh.<br>
              Why are you rude, off courth you knew<br>
              I have a lithp when weary<br>
              as for my chetht it' th bwoad and bwue<br>
              it'th althow bwown and haiwy<br>
              Why utter such insane remarks<br>
              If only fish were shaped like arcs<br>
              then when you caught them on a stick<br>
              they would erase the past<br>
              for future generations lie<br>
              all hidden in an apple pie<br>
              with spoons of fish<br>
              they dig the dish<br>
              and dream of skiing fast<br>
              This is the 18th line, do not read before this line if you are overaged.<br>
              I was then suddenly run over by a rather obnoxious packet of crisps<br>
              There was a huge crunch and my feelings were transferred to a parallel universe made entirely of cheese.<br>
              In this five dimensional world inhabited by cheese wisps<br>
              you couldn't move because of course there was no such thing as space, imagine if you please<br>
              The first dimension was that of cash, and it was merely a number<br>
              the second was of self esteem the third was that of slumber<br>
              Visible to the cheesy eye, was only that of odour<br>
              the fifth one was invisible to me as I was younger<br>
              But reaching 27 now as aging here was done according to written lines of text<br>
              and was not one of our so called dimensions<br>
              <b>I</b><br>
              <b>n</b><br>
              <b>e</b><br>
              <b>e</b><br>
              <b>d</b><br>
              <b>e</b><br>
              <b>d</b><br>
              <b>t</b><br>
              <b>o</b><br>
              <b>t</b><br>
              <b>u</b><br>
              <b>r</b><br>
              <b>n</b><br>
              42 to discover their 5th dimension.<br>
              But I then discovered that linetravel here was a serious religious offense to their cheesy scriptwriter god.<br>
              I was therefore charged with heresy and sentenced to life on Earth. <br>
              So let me thleep my little fawn,<br>
              I'm tired, chaffed, denied and torn<br>
              but you're awake so you decide between what's right and wrong<br>
              I'll hide again, and sleep for years<br>
              until my ears are shaped like spears<br>
              don't fall on them, and think before believing for too long.<br>
            </div>
            <div class="col-lg-2">
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.main -->
    {{super()}}
{% endblock %}
