{% extends "base.html" %}
{% block title %}~grv{% endblock %}

{% block content %}
    <header class="header">
      <section class="container">
        <div class="col-lg-8">
          <div class="page-header text-center">
            <h2>A sample of my sillyness<sup><a href="#fnote1">[1]</a></sup></h2>
          </div>
        </div>
        <div class="col-lg-2">
        </div>
      </section>
    </header>
    <section class="container">
      <div class="bs-docs-section">
        <div class="row">
          <div class="column">
            <div class="bs-component grvtext">
              <h3>Benedictus</h3><br>
	      <p>I once found a little owl<br> playing amongst the thicket<br>
	      he curiously waved a little stick<br> and then began to lick it</p>

	      <p>Of all your toes<br> I do oppose you<br>having only three</p>

	      <p>To this request<br> the owl got dressed<br> and flew up to the tree</p>

	      <p>The thicket then in mighty woe<br> began to stir and fidget<br>
	      for it had lost its only friend<br> Benedictus the midget</p>

	      <p>But hold on now<br> you don't suppose<br> the owl was Benedictus</p>

	      <p>He had toes three<br> flew up a tree <br> if we held sticks he licked us</p>

	      <p>His seemingly rather eccentric ways<br> evolved when he was younger<br>
	      had he not been the pope you see<br> he would have died of hunger</p>

	      <p>Two were the source of his belief<br> three toes he now had sprouted<br>
	      and that's the reason, little bee<br> that he had always shouted</p>

	      <p>I'm not a bee..<br> I hold no stick!<br> I claim to be the reader!</p>

	      <p>Your claim then is by far unjust<br> for books aren't merely made of dust<br>
	      they're made of withered sticks and sap<br> I bid farewell to you old chap<br>
	      and if by chance you are a bee<br> you are a true believer</p>
            </div>
          </div>
          <div class="column">
            <div class="bs-component grvtext">
              <h3>The ostentatious cucumber</h3><br>
              "<i>All vegetables are immortal</i>". <br>
	      <p>The cucumber resolved its precarious remark<br> with a flamboyant dance of virility</p>
	      <p> It wavered its rod<br> and hammered a cod<br> which dazed had to walk back to Ility <br></p>
	      <p> It then fell in distress<br> for the cod was a mess<br> and could probably sue it for money<br></p>
	      <p> So it married a bee<br> bought a house by the sea<br> and promised to pay it in honey<br></p>
	      <p> It was fond of the cause<br> had provoked an applause<br> and was boasting its way of acquittal<br></p>
	      <p> But when chopped by the knife<br> in the sandwich it went<br> turns out life is unnervingly brittle<br></p>
            </div>
          </div>
        </div>
        <!-- <div class="row"> -->
        <!--   <div class="col-lg-2"> -->
        <!--   </div> -->
        <!--   <div class="col-lg-8"> -->
        <!--     <div class="bs-component grvtext"> -->
        <!--       <h4>Intercheesy</h4><br> -->
        <!--       My sweet, my cunning little fawn<br> -->
        <!--       how know you I had cometh?<br> -->
        <!--       I hid behind a patch of lawn<br> -->
        <!--       I'll hide again, I prometh.<br> -->
        <!--       Why are you rude, off courth you knew<br> -->
        <!--       I have a lithp when weary<br> -->
        <!--       as for my chetht it' th bwoad and bwue<br> -->
        <!--       it'th althow bwown and haiwy<br> -->
        <!--       Why utter such insane remarks<br> -->
        <!--       If only fish were shaped like arcs<br> -->
        <!--       then when you caught them on a stick<br> -->
        <!--       they would erase the past<br> -->
        <!--       for future generations lie<br> -->
        <!--       all hidden in an apple pie<br> -->
        <!--       with spoons of fish<br> -->
        <!--       they dig the dish<br> -->
        <!--       and dream of skiing fast<br> -->
        <!--       This is the 18th line, do not read before this line if you are overaged.<br> -->
        <!--       I was then suddenly run over by a rather obnoxious packet of crisps<br> -->
        <!--       There was a huge crunch and my feelings were transferred to a parallel universe made entirely of cheese.<br> -->
        <!--       In this five dimensional world inhabited by cheese wisps<br> -->
        <!--       you couldn't move because of course there was no such thing as space, imagine if you please<br> -->
        <!--       The first dimension was that of cash, and it was merely a number<br> -->
        <!--       the second was of self esteem the third was that of slumber<br> -->
        <!--       Visible to the cheesy eye, was only that of odour<br> -->
        <!--       the fifth one was invisible to me as I was younger<br> -->
        <!--       But reaching 27 now as aging here was done according to written lines of text<br> -->
        <!--       and was not one of our so called dimensions<br> -->
        <!--       <b>I</b><br> -->
        <!--       <b>n</b><br> -->
        <!--       <b>e</b><br> -->
        <!--       <b>e</b><br> -->
        <!--       <b>d</b><br> -->
        <!--       <b>e</b><br> -->
        <!--       <b>d</b><br> -->
        <!--       <b>t</b><br> -->
        <!--       <b>o</b><br> -->
        <!--       <b>t</b><br> -->
        <!--       <b>u</b><br> -->
        <!--       <b>r</b><br> -->
        <!--       <b>n</b><br> -->
        <!--       42 to discover their 5th dimension.<br> -->
        <!--       But I then discovered that linetravel here was a serious religious offense to their cheesy scriptwriter god.<br> -->
        <!--       I was therefore charged with heresy and sentenced to life on Earth. <br> -->
        <!--       So let me thleep my little fawn,<br> -->
        <!--       I'm tired, chaffed, denied and torn<br> -->
        <!--       but you're awake so you decide between what's right and wrong<br> -->
        <!--       I'll hide again, and sleep for years<br> -->
        <!--       until my ears are shaped like spears<br> -->
        <!--       don't fall on them, and think before believing for too long.<br> -->
        <!--     </div> -->
        <!--     <div class="col-lg-2"> -->
        <!--     </div> -->
        <!--   </div> -->
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="grvtext">
            <p id="fnote1">[1] If <a href="https://en.wikipedia.org/wiki/Lewis_Carroll" target="_blank">Lewis Caroll</a> was allowed to be silly, I don't see why I should be serious.</p>
          </div>
        </div>
      </div><!-- /.main -->
    <section>
{% endblock %}
